<!DOCTYPE html>

<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")" type="text/css">
	<link rel="stylesheet" href="@Url.Content("~/Content/css/extends/login.css")" type="text/css">
	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.2.3.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
	@RenderSection("head", required: false)
</head>
<body>
    @RenderBody()

    <div class="modal fade bd-example-modal-sm" id="myModal" role="dialog" data-backdrop="false" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <p class="text-center mb-0">
                    <h2>
                        <i class="fa fa-check-circle text-success mr-3" aria-hidden="true"></i>
                        <span id="spanMsg"></span>
                    </h2>
                </p>
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
